.feedbackStats {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 40px;
	padding: 8px;
	border: 1px solid #c2c2c2;
	border-radius: 8px;
}

.feedbackStats__card {
	display: block;
}

.feedbackStats__card h3,
.feedbackStats__card p {
	display: inline-block;
	margin: 0;
}